.container, .router {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;    
    height: 100%;       
}

.container {    
    margin-left: 10%;
    margin-right: 10%;    
}

.router {    
    justify-content: center;    
    align-items: center;           
}

.navbar {
    justify-content: space-between;
}

.navbar-link {
    padding-right: 1rem;
}