<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-form-field>
                <input matInput placeholder="ID" formControlName="id" readonly>
                <mat-error *ngIf="efc.id.errors?.required">
                    ID name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="User Name" formControlName="userName">
                <mat-error *ngIf="efc.userName.errors?.required">
                    User Name is required
                </mat-error>
            </mat-form-field>            
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" readonly>
                <mat-error *ngIf="efc.email.errors?.required">
                    Email is required
                </mat-error>
            </mat-form-field>            
        </div>        
        <div class="action-button">
            <button mat-flat-button type="submit" [disabled]="editForm.invalid" color="primary">Save</button>
            <button mat-flat-button type="button" (click)="onCancel()" color="primary">Cancel</button>
        </div>
    </form>
</mat-card>